{% extends 'base.html' %}

{% block content %}
<div class="sign_up_header_text">
	Бұл жоба арқылы қалай ақша табуға болады:<br>
	1)Жобаға қол жеткізуді сату(10000 ТНГ) 5000ТНГ пайда КӨРЕСІН<br>
	2)Кәсіптік қызмет көрсету(фотошоп,видеомонтаж,накрутка) (5000 ТНГ-ден басталады)<br>
	3)Копирайтер(3000 ТНГ-ден басталады)<br>
	4)Лента жүргізу(3000 ТНГ-ден басталады)<br>
	5)Жоспар мазмұнын әзірлеуші(3000 ТНГ-ден басталады)<br>
	6)Сайт жасау(15000 ТНГ-ден басталады)<br>
	7)Жарнама жасаушы(7000ТНГ-ден басталады)<br>
	8)Блоггер менеджері(10000 ТНГ-ден басталады <br>
	9)Профиль қақпағын жасау(2500ТНГ-ден басталады)<br>
	10)Сценарист(10000ТНГ-ден басталады)<br>
	11)Профильді талдау және түзету(5000ТНГ-ден басталады)<br>
	12)Жарнамалық макеттерді жасау(4500ТНГ-ден басталады)<br>
	Бірінші қадам жасалды сен біздің қауымдастыққа кірдің <br>
	Енді сізде қаржылық тәуелсіз болу мүмкіндігі бар<br>
	Біздің жобамыздың көмегімен сіз қашықтан жұмыс істей аласыз және тұрақты табыс көзін таба аласыз<br>
	Біздің жобада сіз Instagram-да оқып және ресми жұмысқа орналаса аласыз онда 12 ең талап етілетін мамандықтар бар<br>
	
	<br>


	Eнді сіз біздің жобамен жақын таныссыз<br>

	<br>

	Сен мақсатқа бір қадам жақынсын<br>
	Әлі де күмәнданасың және сенбейсін? <br>
	Содан кейін кейінге қалдырғың келе ме?<br>
	ОНДА сен өз орнында қаласын және қаржылық өсе алмайсын<br>
	Менің атым Ермаш Тоқтар, еңбек пен табандылығымның арқасында мен Тәуелсіз адам болдым. Мен Сіздермен <br>білім мен тәжірибеммен бөліскім келеді.Мен Қазақстандық фриланс дамығанын және адамдарда үйден шықпай-ақ ақша жасауға және дамуға және бай болуға мүмкіндік пайда болғанын қалаймын<br>
	Менің жобамның арқасында 1000нан астам серіктес ақша табады<br>
	Енді сен олардың қатарындассің<br>
	Көп ұзамай сіз инстаграмм көмегімен ақша жасауға және қаржылық тәуелсіз болуға үйренесіз<br>
	СЕНДЕ ӘЛІДЕ КҮМӘН БОЛСА БІЗДІҢ ПІКІРЛЕР ЧАТЫНА КІР <br>
	Барлығы мен онлайн білім сатып алғанымнан басталды, барлық жоба орыс тілінде болды және мен қазақ <br>мектептерін бітірген орыс тілін нашар білетін аудиториясы туралы ойладым.<br>
	Сондықтан мен қазақ аудиториясына қол жетімді болатын жобаны құрдым<br>
	Мен осы жобаны қазақ мектептерінде оқитын 5 досыма қол жеткіздім<br>
	Бес күн ішінде олар табысқа шықты<br>
	Сол кезде әрқайсысының табысы шамамен 60 мың болды <br>
	Сіз кемелділікке шек жоқ екенін түсінуіңіз керек, сіз көп жұмыс істейсіз табыс та көп болады<br>
	<br>
	Енді келесі парақшаға кеттік 

</div>

<a href="/lesson2" class="link_right">Екінші сабақ</a>
{% endblock %}