{% extends 'base.html' %}

{% block content %}
<div class="sign_up_header_text">
	Бұл сіздің бизнес-картаңыз, ол сіздің іс-әрекетіңізге байланысты болады сіздің әлеуетті клиентіңіз сіздің ұсыныстарыңызды зерттеу профилінде әрі қарай жүре ме, әлде бет мәңгілікке кетеді ме<br>
	олардың профилінде бұл ең көп дегенде 2 сөз төменгі астын сызумен бөлінген бос орындары бар 30 белгіден артық емес рұқсат етіледі қайталаушылардан аулақ болыңыз неғұрлым қысқа болса, соғұрлым жақсы<br>
	аты-Бұл батыл әріптермен жазылған, ол сізді іздеуде таба алады инстаграмм сіздің қызмет аймағыңызды көрсету өте маңызды<br>
	жеткілікті 2 3 кілт сөз сіз үлкен әріптермен немесе кішігірім әріптермен жаза аласыз айырмашылықты табу үшін Сіздің бизнесіңіздің мәнін жеткізу маңызды болмайды<br>
	тек әлеуетті клиенттердің атын жазу дұрыс емес сіз ешқашан таба алмайсыз пайдаланушының сұранысына жауап беру керек ол Instagram-да іздей алады<br>
	мысалы, шығармашылық декреті бизнес ең жақсы біріктірілген оның кілт сөзі бар<br>
	негізгі мәтіннің өмірбаяны ақпарат ең қызықты болуы керек, 150 таңбадан артық болмауы керек<br>
<br>
	Instagram таспаларының жұмыс бетін көрнекі түрде безендірген қылмыскер-бұл сіздің шотыңыздың бет-бейнесі, сондықтан сіздің профиліңіз оның алдау және сату қабілетін толық анықтайды және көріністі көрді 1 орынға шығады<br>
	stories бұл 15 секундта мәтінді немесе суреттерді көрмей-ақ, қысқа бөлім ол тек 24 сағат ішінде жарияланады бұл тірі формат ол аудиториямен үнемі байланыса алады бұл өте танымал бөлім 100 грамм бірақ сіздің жазылушыларыңыз жарияланымды санамауы мүмкін белсенділік және сіздің тарихыңыз үшін сондықтан осы сәтке ерекше назар аударыңыз<br>
	бастайық өзекті әңгімелерді безендіру өзекті әңгімелер мәңгілік тарих бұл 4 сағаттан кейін жоғалып кетпейтін оқиға сіздің профиліңізде мәңгі қалады бірақ бұл үшін олар highlights аккаунтының арнайы бөлімін сақтап, тақырып бойынша айдарларды дамыту керек<br>
	сіз өзіңіздің көзқарасыңызға басқа қажетті тақырыптарды қоса аласыз жаңа жоба оқушыларымның жалақысы менің чектерім пікірлер менің маусым шілде Менің жетістіктерім<br>
	әрі қарай, ай сайын Зоядан осы чектерді өз табысыңыздың дәлелі ретінде жаңа айдар жасау қажет болады
	stories-ті күн сайын таңертең және кешке таратыңыз барлық оқиғаларды 1 уақытта жариялауға тырысамын оларды күні бойы Анықтаңыз сіздің жеке және кәсіби өміріңіз қаншалықты көп болса, соғұрлым сіздің блогыңыз әлеуетті клиенттердің абоненттеріне қызығушылық тудырады<br>
	инстаграмда үнемі жазылушылармен байланыста болу маңызды өтініштерді өңдеу сұрақтарға жауап беру жағымсыз әңгімелер айту қызықты музыка суретке түсіру бұл адамдардың сенімін ондаған есе арттыру сәйкесінше сіздің сатылымдарыңыздың санын арттырады<br>
<br>	
	Егер сізде бар болса Instagram тіркелгісі сіз оны бұрын жүргіздіңіз немесе қазір жүргізесіз біздің мақсаттарымыз үшін оны пайдалануға болады<br>
	тапсырма-аккаунтты қашықтан пайда табу үшін қайта құру<br>
	тіркелгіні кәсіби қызметке ауыстыруды ұмытпаңыз<br>
	енді сізде instagram әлеуметтік желісінде Жаңа тіркелгі бар біз оны визуалды қаптамамен безендіре бастаймыз
	алдымен, аватарды аватармен өзгерту керек instagram-дағы парағыңыздың логотипі дұрыс аватарды ұзақ уақыт жадында сақтайды және жеке брендпен тығыз байланыста болады<br>
	сіздің аватарыңыз сізге тек бөтен адамдар мен заттарсыз ғана болуы керек<br>
	аватар портреттік форматта болуы керек<br>
	ал, аватардағы кішкентай бөлшектері бар фотосуреттерді қолданыңыз және олардың беті көрінбейді үлкен болуы керек мен Саша күлімсіреп анық көрініп тұр, басынан бастап оң бейнені жасаңыз<br>
	фон жақсы таңдау монофониялық тамаша жасау контраст адам аққұбалар қараңғы жарық
	фотосурет сіздің өнім блогының бетінің мәнін көрсететін жоғары сапалы болуы керек<br>
	мысалы, сізде солистермен блок бар ма, сіз өзіңізді сарапшы ретінде орналастырасыз ба, онда сіз аватарға кәсіби фотосуреттерді жақсартудың қажет<br>
	көптеген адамдар осы немесе басқа Профильді іздеген кезде аватарға назар аударады, сондықтан сапалы Аватар сізді бәрінен ерекшелендіреді<br>
<br>
	Профильдегі белсенді сілтеме сіздің бизнесіңіздің негізгі аспектісі сілтеме сіздің жазылушыларыңыздан күтетін негізгі әрекетті қамтуы керек<br>
	сіз өзіңіздің жазылушыларыңызды кез-келген ыңғайлы messenger-де жеке хабарламаларға автоматты түрде аударатын сілтемені дайындауыңыз керек<br>
	toplink бұл арнайы дағдылар мен дағдыларсыз instagram-да өзіңіздің шағын брендингіңізді құруға мүмкіндік беретін қызмет<br>
	taplink бірнеше мәселелерді шешеді сізге көптеген сілтемелер мен байланыс түймелерін кез-келген ыңғайлы жолмен орналастыруға мүмкіндік береді<br>
	профильдің үлкен сипаттамасынан арылтады сіздің өнімдеріңіз бен қызметтеріңізді есептен шығару үшін әдемі визитка веб-сайтын құруға мүмкіндік береді<br>
	оны пайдалану туралы шолуды youtube-тен көруге болады<br>
	фотопленкалар сіз өзіңіз туралы бірнеше жол жаза аласыз өмірбаяны жетістіктер тарихы сіздің қызметтеріңіз әр адамға пайдалы бола алатындығыңызды айтыңыз ыңғайлы байланыс контактілері бұл әр түрлі шеберлерге сілтемелер болуы мүмкін мысалы, whatsapp немесе электрондық поштадан жеделхат телефон нөмірі<br>


</div>
<a href="/lesson2" class="link_left">Екінші сабақ</a>
{% endblock %}