{% extends 'base.html' %}

{% block content %}
<div class="sign_up_header_text">
	Сенің комекшілерің<br>
	1)Биікте бол телеграмм чат<br>
	2)Сұрақ-жауап чаты<br>
	3)нәтижелер мен жетістіктер чаты<br>
	4) Polarr/Cupslice photo editor/Fotor/PhotoDirector/PICSART<br>
	Үстіндегі бағдарламалар арқылы сен оз парақшанды жүргізе аласын<br>
	САТУ ПРОЦЦЕССІ ҚАЛАЙ ӨТЕДІ?<br>
	Әлеуетті клиенттен 3000тг аласын. Бас администраторға жазасың<br>
	1000тг-ні администраторға саласын 2000тг таза табыс көресін<br>
	Клиенттін нөмерін және @gmail администраторға тастайсын<br>
	1000тг-ны не үшін администраторға саласын?<br>
	1)курстарды жаңарту <br>
	2)материалдарды сатып алу<br>
	3)жобаны жылжыту <br>
	4)техникалық персонал<br>
<br>
	Осылайша сіз біздің жоба<мен бірге өсіп, дамуға шешім қабылдадыңыз<br>
	біз өз мақсаттарымызға қалай жететінімізді және одан ақша табатынымызды осы сабақта айтамыз<br>
	сіздің міндетіңіз-инста блогын жүргізу және адамдарға инстаграмда қалай ақша табуға болатындығын айту
	мұны қалай жасауға болады?<br>
	бұл қарапайым - сіз шығармашылық стористер жасау және өз жетістіктеріңізді бөлісу үшін қызықты жарияланымдар мен посттар жасайсыз<br>
	Бұған жауап ретінде Сізге жаңа жазылушылар келеді, олар жоба туралы оның артықшылықтарын сипаттайды және сатып алуға көмектеседі<br>
	Осылайша, кіруді қайта сату арқылы сіз күн сайын және қосымша инвестицияларсыз ақша таба аласыз
	алайда, тіркелгіні есте сақтаңыз сіздің визит карточкасы ол әсер етуі керек және бірінші секундтан бастап пайдаланушын <br>
	Сіздің бизнесіңіз өз ісіңіздің маманы болып көрінеді және аудиторияның адалдығын арттырадыы біздің жобаға қосылуға шақырады<br>
	мұның бәрі сізге және сіздің күш-жігеріңізге ғана емес, сонымен қатар сіздің парағыңыздағы фотосуреттердің қалай жасалғанына байланысты, сіз қандай мәтіндер жазасыз және қандай әңгімелер жариялайсыз<br>
	жобаның арқасында сіз аккаунтты жылжыту және дамыту үшін қажетті барлық білім мен дағдыларды игересіз
	Бастау үшін қай бетте жұмыс істейтіндігіңізді шешіңіз<br>
	жаңасын жасаңыз және нөлден бастаңыз немесе өзіңізде жұмыс істеуді жалғастырыңыз<br>


</div>

<div>
	<a href="/lesson1" class="link_left">Бірінші сабақ</a>
	<a href="/lesson3" class="link_right">Үшінші сабақ</a>
</div>
{% endblock %}